:root{

--bg:#f7f4ee;
--text:#151515;
--accent:#c94b32;

}


*{
box-sizing:border-box;
}


body{

margin:0;

background:var(--bg);

color:var(--text);

font-family:
"Hanken Grotesk",
sans-serif;

padding:40px;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

border-bottom:1px solid #222;

padding-bottom:25px;

}



.brand{

font-family:
"Fraunces",
serif;

font-size:28px;

font-weight:700;

}



nav a{

margin-left:30px;

text-decoration:none;

color:#111;

font-family:
"JetBrains Mono";

font-size:13px;

}



.hero{

padding:90px 0;

max-width:900px;

}



.mono{

font-family:
"JetBrains Mono";

font-size:13px;

color:var(--accent);

}



h1{

font-family:
"Fraunces",
serif;

font-size:72px;

line-height:1.05;

margin:30px 0;

}



.intro{

font-size:22px;

max-width:550px;

line-height:1.5;

}



.projects{

border-top:1px solid #222;

}



.card{

display:grid;

grid-template-columns:100px 1fr;

padding:40px 0;

border-bottom:1px solid #aaa;

}



.number{

font-family:
"JetBrains Mono";

color:var(--accent);

}



h2{

font-family:
"Fraunces";

font-size:36px;

margin:0 0 10px;

}



.card p{

font-size:18px;

}



.meta{

margin-top:20px;

font-family:
"JetBrains Mono";

font-size:13px;

}



.meta span{

color:#777;

margin-right:20px;

}



footer{

padding-top:50px;

font-family:
"JetBrains Mono";

font-size:13px;

}




@media(max-width:700px){

body{
padding:20px;
}


h1{
font-size:45px;
}


.card{

grid-template-columns:1fr;

gap:20px;

}

}